{ 
  "extends": "stylelint-plugin-stylus/standard",
  "rules": {
    "stylus/selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ]
  }
}
